<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-right mb-3">
            <button class="btn btn-success" routerLink="/ajouterticket" >Ajouter Ticket</button>
          </div>
        <table class="table">
          <thead>
            <tr>
              <th>Summary</th>
              <th>Key</th>
              <th>Description</th>
              <th>Priority</th>
              <th>Type</th>
              <th>Complexity</th>
              <th>Created</th>
              <th>Updated</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of tickets">
              <td>{{ ticket.fields.summary }}</td>
              <td>{{ ticket.key }}</td>
              <td>{{ ticket.fields.description }}</td>
              <td>{{ ticket.fields.priority.name }}</td>
              <td>{{ ticket.fields.issuetype.name }}</td>
              <td>{{ ticket.fields.customfield_10016 }}</td>
              <td>{{ ticket.fields.created }}</td>
              <td>{{ ticket.fields.updated }}</td>
              <td>
                <button class="btn btn-primary btn-sm m-2" [routerLink]="['/updateticket', ticket.key]">Update</button>
                <button class="btn btn-danger btn-sm m-2" (click)="deleteIssue(ticket.key)">Delete</button>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  